<div class="backdrop-team is-hidden-team" data-modal>
  <div class="modal-team">
    <button
      type="button"
      class="close-btn"
      data-modal-close
      aria-label="close button"
    >
      <svg class="icon-close">
        <use href="./images/icons.svg#icon-close_40px"></use>
      </svg>
    </button>
    <h2 class="team-title">Our team</h2>
    <ul class="team-list list">
      <li class="team-item">
        <div class="card-team">
          <div class="card__face card__face--front card-front1"></div>
          <div class="card__face card__face--back card-back1"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Volodymyr Holotnyk</h3>
          <h4 class="team-position">Team lead</h4>
            <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="https://github.com/Golotniks94"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team">
          <div class="card__face card__face--front card-front2"></div>
          <div class="card__face card__face--back card-back2"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Oleksandr Chernomorets</h3>
          <h4 class="team-position">Scrum Master</h4>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="http://github.com/AlexanderChernomorets"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team">
          <div class="card__face card__face--front card-front3"></div>
          <div class="card__face card__face--back card-back3"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Sergii Bilogolovyi</h3>
          <h4 class="team-position">Developer</h4>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="https://github.com/Belik1989"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team">
          <div class="card__face card__face--front card-front4"></div>
          <div class="card__face card__face--back card-back4"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Andrii Kostenko</h3>
          <h4 class="team-position">Developer</h4>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="https://github.com/Andruha0013"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team">
          <div class="card__face card__face--front card-front5"></div>
          <div class="card__face card__face--back card-back5"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Yuriy Rysak</h3>
          <h4 class="team-position">Developer</h4>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="https://github.com/YuriyRysak"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team card-team6">
          <div class="card__face card__face--front card-front6"></div>
          <div class="card__face card__face--back card-back6"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Viktor Solomianiy</h3>
          <h4 class="team-position">Developer</h4>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="https://github.com/ViktorSolomianiy"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team card-team7">
          <div class="card__face card__face--front card-front7"></div>
          <div class="card__face card__face--back card-back7"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Maksim Kozir</h3>
          <h4 class="team-position">Developer</h4>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="https://github.com/maxk3y"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team">
          <div class="card__face card__face--front card-front8"></div>
          <div class="card__face card__face--back card-back8"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Natalia Gerasymova</h3>
          <h4 class="team-position">Developer</h4>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="https://github.com/Natalii-ng"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team card-team9">
          <div class="card__face card__face--front card-front9"></div>
          <div class="card__face card__face--back card-back9"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Inna Kukla</h3>
          <h4 class="team-position">Developer</h4>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="https://github.com/InnaKukla"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team card-team10">
          <div class="card__face card__face--front card-front10"></div>
          <div class="card__face card__face--back card-back10"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Olya Rozhniatovska</h3>
          <h4 class="team-position">Developer</h4>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="https://github.com/helgels"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team card-team11">
          <div class="card__face card__face--front card-front11"></div>
          <div class="card__face card__face--back card-back11"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Ivan Holovakha</h3>
          <h4 class="team-position">Developer</h4>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="https://github.com/IvanHolovakha"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
